@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Vazirmatn';
  src: url('../public/fonts/ttf/Vazirmatn-RD-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Vazirmatn', sans-serif;
  font-feature-settings: "locl";
}
