@tailwind base;
@tailwind components;
@tailwind utilities;
@import './assets/fonts/vazirmant.css';


/* @font-face {
  font-family: 'vazirmatn';
  src: url('./assets/fonts/Vazirmatn-FD-Black.ttf');
  font-weight: 100;
  font-display: swap;
} */

*{
  font-family: 'vazirmatn', sans-serif;
  font-feature-settings: "locl";
}
