@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */
/* @font-face {
  font-family: 'Vazirmatn';
  src: url('@/assets/fonts/ttf/Vazirmatn-RD-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */
body {
  font-family: 'Vazirmatn', sans-serif;
  font-feature-settings: "locl";
}
